* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 19px;
}

#page {
    border-color: rgba(34, 139, 130, 0.5);
    border-radius: 0.5px;
    border-style: solid;
    padding: 10px;
}

#header {
    background-color: cadetblue;
    padding: 10px;
}

#title {
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
}

#body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left, #right {
    flex: 1;
    padding: 10px;
}

.asterix {
    color: red;
}

.underlinedText {
    text-decoration: underline;
}

#checkBoxes {
    display: flex;
    flex-direction: column;
}

#paymentMode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    background-color: cadetblue;
    color: white;
    padding: 3px 20px;
    text-align: center;
    margin: 10px;
}

label {
    font-weight: bold;
}

.unit {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.item {
    flex: 1;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    clear: both;
}
.VerificationPic{
    width: 70px;
  }