.myCharachters{
color:yellow;
}
p{
    font-family: cursive;
}
body{
    background-color: darkslategray;
    color:aliceblue;
}
h1,h2{
    color:blue;
}
img.Moods{
    width: 200px ;
}
img.VerificationPic{
    width: 50px;
}