<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='/css/style.css' rel='stylesheet' type='text/css' media='screen'>
</head>
<body>
    <form action="/product" method="post"> 
        <p>Product Name: <input name="name" ></p>
        <p>Quantity: <input name="quantity" type="number" ></p>
        <p>Price: <input name="price" type="number" min="1"></p>
        <p><button> Add</button></p>
    </form>
</body>
</html>